html, body{
    height: 100%;
}
#Menu_Principal{
    width: 5cm;
    height: 100vh;
    margin-right: 10px;
    padding-left: 0;
    margin-top: 0;
}

.Menu{
    display: flex;
    align-items: flex-start;
}

#contenido{
    flex-direction: column;
}


#menu1{
    display: none;
    list-style: none;
    background-color: aquamarine;
    width: max-content;
    transition: max-height 1s;
    max-height: 0;
    overflow: hidden;
}

#flecha-menu1{
    transition: transform .3s;
}

#menu2{
    display: none;
    list-style: none;
    background-color: burlywood;
    width: max-content;
    transition: max-height 1s;
    max-height: 0;
    overflow: hidden;
}

#flecha-menu2{
    transition: transform .3s;
}


.lista:hover{
    cursor: pointer;
}

